.logo_place_header {
    width: 200px;
    margin: 0 auto 50px auto;
  }

  @media screen and (min-width: 768px) {
    .logo_place_header {
      width: 270px;
      margin-bottom: 90px;
    }
  }


/*Optional. Option "Wide screens".
      Adaptive layout for wide screens
  @media screen and (min-width: 1280px) {
    .logo_place_header {
      width: calc((100vw - 48px * 2) / 100 * 22.81);
    }
  }
  */
