.footer__wrapper {
  max-width: 100%;
  position: relative;
  margin: 0 auto;
}

/*Optional. Option "Cover fits the screen".
Cover in landscape mode fits the screen, but the image is vertically cropped a little bit too much in some particular resolutions
@media screen and (min-width: 768px) and (orientation: landscape) {
  .footer__wrapper {
    max-height: 95vh;
  }
}*/
