.footer__wrapper {
  width: 127%;
  /*max-height: 258px;*/
  /*height: 254px;*/
  position: relative;
  margin: 0;
  /*object-fit: contain;*/
  /*display: flex;
  flex-flow: column;*/
}

@media screen and (min-width: 768px) {
  .footer__wrapper {
    width: 155%;
  }

}

@media screen and (min-width: 1280px) {
  .footer__wrapper {
    width: 100%;
  }

}


