.header__text {
  max-width: 312px;
  margin: 0 auto 40px auto;
  text-align: center;
  font-style: normal;
  display: flex;
  flex-flow: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .header__text {
    max-width: 720px;
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 1280px) {
  .header__text{
    max-width: 793px;
    margin-bottom: 64px;
  }
}

@media screen and (max-width: 319px) {
  .header__text {
    max-width: 96%;
  }

}

/*Optional. Option "Whide screens".
Adaptive layout for wide screens
@media screen and (min-width: 1280px) {
  .header__text{
    max-width: calc((100vw - 48px * 2) / 100 * 65);
    margin-bottom: 64px;
  }
}*/
