.place-card__title {
  max-width: 100%;
  margin: 0;
  /*grid-area: place-card__title;*/
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 1.09;
}

/*@media screen and (min-width: 768px) {
  .place-card__title {
    grid-area: place-card__title;
    align-self: flex-end;
  }
}*/
