.footer__paragraph {
  max-width: 100%;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  margin: 0 auto;
  padding:0 calc((100% - 167px) / 2);
}

@media screen and (min-width: 768px) {
  .footer__paragraph {
    font-size: 18px;
    line-height: 1.22;
    padding:0 calc((100% - 280px) / 2);
  }
}

/*Optional. Option "Wide screens".
    Adaptive layout for wide screens
@media screen and (min-width: 1280px) {
  .footer__paragraph {
    font-size: calc((100vw - 48px * 2) / 100 * 1.2);
  }
}*/
