.cover__title {
  max-width: 100%;
  margin: 0 auto 16px auto;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 1.09;
  text-align: center;
  color: #FFFDFD;
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .cover__title {
    margin: 0 auto 32px auto;
    font-size: 72px;
    line-height: 1.06;
  }
}

/*Optional. Option "Wide screens".
  Adaptive layout for wide screens
@media screen and (min-width: 1280px) {
  .cover__title {
    font-size: calc((100vw - 48px * 2) / 100 * 2.71);
    margin-bottom: calc((100vw - 48px * 2) / 100 * 1.4);
  }
}*/
