.header__image-container {
  width: 100%;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

/*Optional. Option "Header__image fits the screen".
Header__image in landscape mode fits the screen, but the image is vertically cropped in some particular resolutions
@media screen and (min-width: 768px) and (orientation: landscape) {
  .header__image-container {
    max-height: 95vh;
  }
}*/
