.button_place_places {
  width: 288px;
  /*width: 19.4vw;*/
  height: 48px;
  /*height: calc(100% * 2.35);*/
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .button_place_places {
    width: 248px;
    margin: 0;

  }
}

@media screen and (max-width: 320px) {
  .button_place_places {
    width: 90%;
  }
}
