.button_place_footer {
  width: 137px;
  margin-top: 16px;
}

@media screen and (min-width: 768px) {
  .button_place_footer {
    margin-top: 32px;
  }

}

/*Optional. Option "Wide screens".
Adaptive layout for wide screens
@media screen and (min-width: 1280px) {
  .button_place_footer {
    width: calc((100vw - 48px * 2) / 100 * 11.6);
    margin-top: calc((100vw - 48px * 2) / 100 * 1.4);
  }
}*/
